{% extends 'base.html' %}

{% block 'titulo' %}
Tela | Cadastro
{% endblock 'titulo' %}

{% block 'body' %}
<body>
    <div class="box">
        <form>
            <fieldset>
                <h1> Welcome! </h1>
                <legend><b>Cadastro de usuario</b></legend>
                <br>
                <div class="inputbox">
                    <input type="text" name="nome" id="nome" class="userInput" required>
                    <label for="nome">Nome</label>
                </div>
                <br>
                <div class="inputbox">
                    <input type="text" name="email" id="email" class="userInput" required>
                    <label for="email">Email</label>
                    <br>
                </div>
                <br>
              <!--   <div class="inputbox">
                    <input type="tel" name="celular" id="Celular" class="userInput" required>
                    <label for="celular">Celular</label>
                </div> -->
                <div class="pass">
                    <label for="senha"> Crie sua senha</label>
                    <input id="senha" type="password" placeholder="Digite sua senha" />
                </div>
                
                <br>
                <div class="pass">
                    <label for="password">Confirme sua senha</label>
                    <input type="password" id="password" name="senha" size="20" required>

                </div>
              
                <br>
                <div class="inputbox">
                    <label for="data_nascimento">Data de Nascimento</label>
                    <input type="date" name="data_nascimento" id="data_nascimento" class="userInput" required>
                </div>
                <br>
                <input type="submit" value="Enviar" id="submit">
            </fieldset>
        </form>
        <footer>
            
        </footer>
    </div>
</body>
{% endblock 'body' %}
</html>