{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    
    <link rel="stylesheet" href=" {% static 'base/css/base.css' %}">

{% endblock 'head' %}

    {% block 'titulo' %}
        Tela | Login
    {% endblock 'titulo' %}


{% block 'body' %}
    <div class="login-card-container">
        <div class="login-card-header">
            <h1>Login</h1>
            <div>Please create an account or login to use the platform</div>
        </div>
        
    </div>




    <h1 class="enter">  Hello World</h1>
{% endblock 'body' %}
