{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock 'head' %}

{% block 'titulo' %}
    Tela | Recuperar senha
{% endblock 'titulo' %}

{% block 'body' %}
    <div class="box">
        <div class="mensagens">
            {% if messages %}
                <br>
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    
        <form action="{% url 'recuperar_senha' %}" method="POST"> {% csrf_token %}
            <p> Digite seu email e enviaremos um email para redifinir sua senha</p>
            <input type="text" placeholder="Seu Email" id="emailForm" name="email">
            <button type="submit" class="">Enviar</button>
        </form>
    </div>
    
{% endblock 'body' %}

